/* ---------------------------------------------------
    PIE CARD STYLE
----------------------------------------------------- */
.card {
  box-shadow: 3px 7px 13px -2px rgba(0, 0, 0, 0.7);
}

/* ---------------------------------------------------
    BANNER ICON STYLE
----------------------------------------------------- */
.icon-action {
  transition: all 0.2s ease-in-out;
  color: white;
}

.icon-action:hover {
  transform: scale(1.4);
  text-decoration: none;
  color: #2c3e50;
}

/* ---------------------------------------------------
    PROJECT LIST STYLE
----------------------------------------------------- */
#project {
  background: rgb(24, 188, 156, 0.9);
  color: white;
  margin-bottom: 10px;
}

#project:nth-child(odd) {
  background: rgb(44, 62, 80, 0.9);
  color: white;
}

.projects {
  height: 75vh;
}

/* ---------------------------------------------------
    PROJECT ACTION STYLE
----------------------------------------------------- */
.action {
  transition: all 0.2s ease-in-out;
  color: white;
}

.action:hover {
  transform: scale(1.7);
  text-decoration: none;
  color: white;
}

/* ---------------------------------------------------
    TABLE ACTION STYLE
----------------------------------------------------- */
.card a,
td a {
  transition: all 0.2s ease-in-out;
  color: #2c3e50;
}

.card a:hover,
td a:hover {
  transform: scale(1.4);
  text-decoration: none;
  color: #18bc9c;
}

/* ---------------------------------------------------
    SELECT STYLE
----------------------------------------------------- */

select option:hover {
  color: #2c3e50;
  box-shadow: 0 0 10px 100px #18bc9c inset;
  background-color: #18bc9c;
  color: white;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#header {
  box-shadow: 3px 7px 13px -2px rgba(0, 0, 0, 0.7);
}

#sidebar {
  box-shadow: 1px 0px 13px 5px rgba(0, 0, 0, 0.7);
}

#siderbar .navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  transition: all 0.2s ease-in-out;
}

#sidebar ul li a:hover {
  color: white;
  background: #18bc9c;
  transform: scale(1.05);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

/*
#sidebar {
  transition: all 0.3s;
}
*/

/*#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle='collapse'] {
  position: relative;
}*/

/*.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}*/

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/*
#content {
  transition: all 0.3s;
}
*/

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

/* @media (max-width: 768px) {
  #sidebar {
    margin-left: -200px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
  
} */
